@media (min-width: 900px) {
    /*  header  */
    .eng {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
    }
  
    .lang-text {
      display: flex;
      color: var(--white);
      margin: 0 1rem;
      padding: 0.1rem;
      border: 0.1rem solid var(--white);
      border-radius: 20px;
      width: 5rem;
      height: 2.4rem;
      justify-content: center;
    }
  
    .lan {
      margin-right: 0.1rem;
    }
    /*  aside  */
    aside {
      grid-template-columns: auto auto; 
    }
  
    .hero {
      font-size: 4rem;
      margin: 8rem 4rem ;
      text-align: center;
      --fweight: 900;
    }
  
    .gato-aside {
      width: 80%;
      margin: 8rem 4rem;
      justify-self: center;
    }
  
    /*main*/
    .about {
      grid-template-columns: auto auto; 
      grid-template-rows: auto auto auto; 
    }
  
    .title-about {
      grid-column: 2; 
      grid-row: 1;
      margin: 0;
      font-size: 4rem;
      text-align: center;
      --fweight: 900;
    }
  
    .text-about {
      margin: 0 2rem;
      grid-row: span 2;
      font-size: 3.2rem;
      text-align: center;
    }
  
    .text-project {
      grid-row: span 2;
      font-size: 3.2rem;
      text-align: center;
    }
  
    .gato-about {
      grid-row: span 3;
      width: 70%;
      margin: 0 8rem;
      justify-self: center;
    }
    
    .card {
      display: flex;
    }
   
    .content {
      padding: 0;
      margin: 0 2rem;
      align-self: center;
    }
  
    .title {
      font-size: 3.2rem;
      align-content: center;
    }
  
    .desc, .video {
      font-size: 2.4rem;
    }
  
    .desc {
      margin: 2rem 0;
      text-align: center;
    }
  
    .image {
      width: 50%;
      margin: 0;
      align-self: center;
    }
  
  }