:root {
    --h: 20;
    --n: 25%;
    --primary-color: hsl(var(--h), 40%, 55%);
    --white: hsl(var(--h), 92%, 95%);
    --black: hsl(var(--h), 15%, 10%);
    --neutral: hsl(var(--h),  var(--n), var(--n));
	  --font-size: 1.6rem;
	  --font-line-height: 1.5;
    --fweight: 700;
}

*,
*::after,
*::before {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--white);
  font-family: open Sans, Helvetica, sans-serif;
  font-weight: var(--fweight);
  color: var(--black);
}

/*  header  */

.header {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; /* Una sola columna */
  grid-template-rows: auto auto; /* Dos filas */
  
}

/*logo*/
.logotipo {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.header p {
  color: var(--white);
}

.logo {
  width: 5.2rem;
  height: 5.2rem;
  margin: 1.6rem 1rem 1.6rem 1.6rem ;
}

.toggle-lang {
  margin: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.eng {
  display: none;
}

/*lang*/
.lan {
  margin-right: 1rem;
}

/*toggle From Uiverse.io by catraco */ 
.switch-name {
    --dark-sky: var(--neutral);
    --moon: #ffd500;
    --light-sky: var(--white);
    --sun: #ffd500;
    display: inline-block;
    position: relative;
    border-radius: 5em;
    cursor: pointer;
    width: 5rem;
    height: 2.4rem;
    overflow: hidden;
    transition: all .5s;
  }
  
  .switch-name .back {
    background-color: var(--dark-sky);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .5s ease-in-out;
  }
  
  .switch-name .checkbox {
    opacity: 0;
  }
  
  .switch-name .checkbox:checked ~ .back {
    background-color: var(--light-sky);
  }
  
  .switch-name .checkbox:checked ~ .moon {
    transform: translate(100%) rotate(180deg);
    opacity: 0;
  }
  
  .switch-name .checkbox:checked ~ .sun {
    transform: translate(100%) rotate(180deg);
    opacity: 1;
  }
  
  .switch-name .moon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: .4em;
    fill: var(--moon);
    transition: .5s;
  }
  
  .switch-name .sun {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: .4em;
    fill: var(--sun);
    transition: .5s;
    opacity: 0;
  }

  /* nav */

  .navegation {
    color: var(--white);
    padding: 1.6rem;
    text-align: center;
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .navegation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navegation li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--white);
    border-radius: 20px;
    width: 7.2rem;
    height: 3rem;
    font-size: 1.4rem;
  }
  
  .navegation a {
    color: var(--white);
    text-decoration: none;
  }

  .navegation li:hover, .navegation li:active {
    background-color: var(--neutral);
  }
  /*  aside  */
  aside {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }

  .hero {
    font-size: 3.2rem;
    margin: 8rem 4rem 4rem 4rem;
    text-align: center;
    --fweight: 900;
  }

  aside h2 {
    color: var(--black);
  }

  aside h1 {
    color: var(--primary-color);
  }

  .gato-aside {
    width: 70%;
    margin: 4rem;
    border-radius: 20px;
    justify-self: center;
  }

  /* main*/

  .about {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    margin: 4rem;
  }

  h3 {
    font-size: 3.2rem;
    margin: 2rem;
    text-align: center;
    --fweight: 700;
  }

  .gato-about {
    width: 70%;
    margin: 4rem;
    border-radius: 20px;
    justify-self: center;
  }

  .text-about, .text-project {
    font-size: 1.6rem;
    margin: 0 2.4rem;
    text-align: center;
    --fweight: 500;
    justify-self: center;
  }

  /* projects */
  .projetc {
    margin: 8rem 4rem;
  }

  .text-project {
    margin: 2rem 0 4rem 0;
  }

  .card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    box-shadow: 0 1px 2px 0 var(--black);
    border: 1px solid transparent;
  }

  /* Estilos responsivos */
@media (min-width: 640px) {
  /*  header  */
  .header {
    grid-template-columns: auto auto auto; /* tres columnas */
    grid-template-rows: auto; /* una fila */
  }

  .navegation {
    grid-column: 2; /* nav a segunda columna */
    grid-row: 1; /*Mover nav a la primera fila */
  }
  /*  aside  */
  .hero {
    font-size: 4rem;
    margin: 16rem 8rem 8rem 8rem;
  }

  /* main*/
  h3 {
    font-size: 4rem;
  }

  .text-about, .text-project {
    font-size: 2.4rem;
  }
}

@media (min-width: 900px) {
  /*  header  */
  .eng {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .lang-text {
    display: flex;
    color: var(--white);
    margin: 0 1rem;
    padding: 0.1rem;
    border: 0.1rem solid var(--white);
    border-radius: 20px;
    width: 5rem;
    height: 2.4rem;
    justify-content: center;
  }

  .lan {
    margin-right: 0.1rem;
  }
  /*  aside  */
  aside {
    grid-template-columns: auto auto; 
  }

  .hero {
    font-size: 4rem;
    margin: 8rem 4rem ;
    text-align: center;
    --fweight: 900;
  }

  .gato-aside {
    width: 80%;
    margin: 8rem 4rem;
    justify-self: center;
  }

  /*main*/
  .about {
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto; 
  }

  .title-about {
    grid-column: 2; 
    grid-row: 1;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    --fweight: 900;
  }

  .text-about {
    margin: 0 2rem;
    grid-row: span 2;
    font-size: 3.2rem;
    text-align: center;
  }

  .gato-about {
    grid-row: span 3;
    width: 70%;
    margin: 0 8rem;
    justify-self: center;
  }
}